/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

li{
    list-style: none;
}

/*COLORS*/

.black-bg{
    background-color: #000000;
}

.blue-bg{
    background-color: #141922;
}

.darkblue-bg{
    background-color:#090B13 ;
}

.darkgrey-bg{
    background-color:#282828 ;
}

.white{
    color: white;
}

.gray{
    color: lightgray;
}

.green{
    color: #ADFF2E;
}
/*UTILITY CLASSES*/

.uppercase{
    text-transform: uppercase;
}

.small-text{
    font-size: 0.8rem;
}

/*FULL APP CONTAINER*/
.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
   
}

/*TOP-SECTION CONTAINER*/

.content-container{
    width: 100%;
    height: 100vh;
    display: flex;
}
   
/*LEFT NAV-BAR*/

.nav-bar{
    /*BIGGER THEN Xsmall=width: 250px;*/
    width: 50px;
    height: calc(100% - 90px);
    background-color: black;
}

/*MAIN CONTENT*/
.content{
    width: 100%;
    height: calc(100% - 90px);
}

/*UPGRADE TOP BAR*/
.content-header{
    width: 100%;
    height: 10%;
}

/*MAIN PAGE SECTION*/

.main-content{
    height: 90%;
    overflow-y: auto;
    padding: 1rem;
}

.type-list ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    font-size: 0.8rem;
}

.category-name{
    padding-top: 2rem;
}

.recently-played h1{
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.album-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
    margin: 1rem 0;
}

.album-container h2{
    font-size: 1rem;
}

.album{
    width: calc(50% - .5rem);
    text-align: center;
}

.album-cover{
    width: 100%;
    margin-bottom: .5rem;
}





/*BOTTOM-SECTION CONTAINER*/

.taskbar{
    width: 100%;
    height: 90px;
    position: fixed;
    bottom: 0;
}
